@model StripeFundamentals.Models.Book.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book</h2>

<div class="row">
    <div class="col-md-12">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h4 class="text-center"><span class="label label-info">Self Published</span></h4>
                <img src="~/Content/images/main-book.png" />
                <div class="caption">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h3>JavaScript Framework Guide</h3>
                        </div>
                        <div class="col-md-6 col-xs-6 price">
                            <h3>
                                <label>$39</label>
                            </h3>
                        </div>
                    </div>
                    <p>AngularJS, Backbone, Ember</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Buy</a>
                        </div>
                    </div>

                    <p> </p>
                </div>
            </div>
        </div>
       

    </div>

</div>


